<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("partials/include.ejs") %>
  </head>
  <body>
  	<%- include("partials/header.ejs") %>
    <h5><%= title %></h5>
    
    <%- include("partials/footer.ejs") %>
  </body>
</html>
